APP_URL=http://dms.platform.test:3000
AUTH_SECRET=
AUTH_COOKIE_DOMAIN=platform.test
AUTH_APP_URL=http://auth.platform.test:3002
AUTH_ALLOWED_ORIGINS=http://dms.platform.test:3000,http://infrastructure.platform.test:3001,http://auth.platform.test:3002
AUTH_LOGIN_URL=https://drop-mate-api.vara360.com/api/auth/login
